body {
    font-family: sans-serif;
}

#page {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 1024px;
    margin: 0 auto;
}

.title {
    font-size: 20pt;
    text-align: center;
    padding: 10px 0;
}

#search-panel {
    border: 1px #000 solid;
    padding: 10px;
}

.search-panel-line {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.search-panel-column {
    padding-right: 25px;
}

.bottons {
    display: flex;
}

#search,
#reset {
    border: 1px #000 solid;
    padding: 0 15px;
    margin-left: 15px;
}

#grid {
    margin: 25px 0;
}

table {
    width: 100%;
}

#grid-header tr {
    background-color: #c2cdfc;
}

table tr:nth-child(odd) {
    background-color: #e5eafc;
}

table td {
    padding: 12px;
}

#paging {
    background-color: #c2cdfc;
    padding: 0 12px;
}

.prev,
.next {
    padding: 0 7px;
}

.sortable {
    text-decoration: underline;
    cursor: pointer;
}