body {
    font-family: sans-serif;
}

#page {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 1024px;
    margin: 0 auto;
}

.title {
    font-size: 20pt;
    text-align: center;
    padding: 10px 0;
}

#search-panel {
    border: 1px #000 solid;
    padding: 10px;
}

.search-panel-line {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.search-panel-column {
    padding-right: 25px;
}

.buttons {
    display: flex;
}

#search,
#reset {
    border: 1px #000 solid;
    padding: 0 15px;
    margin-left: 15px;
}

#grid {
    margin: 25px 0;
}

table {
    width: 100%;
}

#grid-header tr {
    background-color: #c2cdfc;
}

table tr:nth-child(odd) {
    background-color: #e5eafc;
}

table td {
    padding: 12px;
}

#paging {
    background-color: #c2cdfc;
    padding: 0 12px;
}

.prev,
.next {
    padding: 0 7px;
}

.sortable {
    text-decoration: underline;
    cursor: pointer;
}

.beer-details {
    text-decoration: underline;
    cursor: pointer;
}

#modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 768px;
}

.modal-content-header {
    display: flex;
    justify-content: space-between;
    font-size: 20pt;
}

#modal-content .line {
    display: flex;
    margin: 7px 0;
}

#modal-content .label {
    font-weight: bold;
}